* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13;
}
:root {
  /* primary */
  --purple-50: hsl(260, 100%, 95%);
  --purple-300: hsl(264, 82%, 80%);
  --purple-500: hsl(263, 55%, 52%);
  /* neutral */
  --white: hsl(0, 0%, 100%);
  --grey-100: hsl(214, 17%, 92%);
  --grey-200: hsl(0, 0%, 81%);
  --grey-400: hsl(224, 10%, 45%);
  --grey-500: hsl(217, 19%, 35%);
  --dark-blue: hsl(219, 29%, 14%);
  --black: hsl(0, 0%, 7%);
}
body {
  background-color: var(--grey-100);
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
img {
  border-radius: 50%;
  float: left;
}
h4 {
  font-size: 20px;
  position: relative;
  left: 20px;
  font-weight: bold;
}
.verify {
  position: relative;
  left: 20px;
}
h2 {
  padding: 23px 0 0 0;
  font-weight: 600;
}

.item_daniel {
  margin: 20px;
  padding: 30px;
  width: auto;
  height: auto;
  background-color: var(--purple-500);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 200px;
  color: var(--grey-100);
  border-radius: 18px;
  grid-column: 1/3;
}
.item_walters {
  margin: 20px;
  padding: 30px;
  width: auto;
  height: auto;
  background-color: var(--grey-400);
  color: var(--white);
  border-radius: 18px;
}
.item_Harmon {
  margin: 20px;
  padding: 20px;
  width: auto;
  height: auto;
  background-color: var(--white);
  color: var(--grey-500);
  border-radius: 18px;
  grid-column: 1/2;
}
.item_abrams {
  margin: 20px;
  padding: 20px;
  width: auto;
  height: auto;
  background-color: var(--dark-blue);
  color: var(--grey-200);
  border-radius: 18px;
  grid-column: 2/4;
}
.item_kira {
  margin: 20px;
  padding: 20px;
  width: auto;
  height: auto;
  background-color: var(--white);
  color: var(--grey-500);
  border-radius: 18px;
  grid-column: 4/-1;
  grid-row: 1/4;
}
@media all and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .item_daniel {
    margin: 20px;
    padding: 30px;
    width: auto;
    height: auto;
    background-color: var(--purple-500);
    background-image: none;
    background-repeat: no-repeat;
    background-position: top right 200px;
    color: var(--grey-100);
    border-radius: 18px;
    grid-column: 1/3;
  }
}
